name: Ada (GNAT)

on:
  schedule:
    - cron: '0 0 1 * *'
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
          submodules: true

    - name: Set up alire
      uses: alire-project/setup-alire@v5

    - name: Build crate
      run: |
        alr --non-interactive build
